:root{
    background-color:white;
    background-image:url(darkbg.jpg);
}


*{
    list-style: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-width:100vw;
    min-height:100vh;
    display:flex;
}


header{
    display:flex;
    min-height:100px;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.792);
    height: 100px;
    width:100vw;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header img{
    height: 50px;
    padding-left:20px;
}

.navlinks{
    justify-content: center;
    display:flex;
    gap:20px;
    flex-shrink:0;
}

.logout li{
    padding: 5px 50px;
}